$navbar-background-color: #00aec7;

$button-background-color: #00aec7;
$button-border-color: #00aec7;
$button-hover-border-color: #00aec7;
$button-hover-color: hsl(0, 0%, 100%);
$button-color: hsl(0, 0%, 100%);

$modal-card-head-background-color: hsl(0, 0%, 100%);
$modal-card-head-border-bottom: 0;
$modal-card-foot-border-top: 0;
$modal-background-background-color: rgba(black, 0.01);
$card-footer-border-top: 0px solid hsl(0, 0%, 100%);

@import 'bulma/bulma.sass';

.message {
    background-color: transparent;
    border-radius: 4px;
    font-size: 1rem;
}