$navbar-background-color: #00aec7;
$navbar-height: 4rem;

$button-background-color: #00aec7;
$button-border-color: #00aec7;
$button-hover-border-color: #00aec7;
$button-hover-color: hsl(0, 0%, 100%);
$button-color: hsl(0, 0%, 100%);

$modal-card-head-background-color: hsl(0, 0%, 100%);
$modal-background-background-color: rgba(black, 0.02);
$card-footer-border-top: 0px solid hsl(0, 0%, 100%);

$input-border-color: transparent transparent #00aec7 transparent;
$input-shadow: transparent;
$input-focus-border-color: #00aec7;
$input-hover-border-color: #00aec7;

$tabs-link-active-border-bottom-color: #00aec7;
$tabs-link-active-color: #00aec7;

@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/layout/_all.sass";
@import "bulma/sass/grid/_all.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/content.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/elements/icon.sass";
@import "bulma/sass/elements/image.sass";
@import "bulma/sass/elements/other.sass";
@import "bulma/sass/elements/progress.sass";
@import "bulma/sass/elements/table.sass";
@import "bulma/sass/elements/tag.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/components/card.sass";
@import "bulma/sass/components/dropdown.sass";
@import "bulma/sass/components/level.sass";
@import "bulma/sass/components/list.sass";
@import "bulma/sass/components/modal.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/components/menu.sass";
@import "bulma/sass/components/tabs.sass";
@import '~react-notifications/lib/notifications.css';

.navbar-item img {
  max-height: 40px;
}

.navbar-item .button {
  border: none;
}

.navbar-item .button:focus, .navbar-item .button:active {
  box-shadow: none;
}

.modal-card {
    box-shadow: 5px 10px 8px #888888
}

.filterButton {
	transition: box-shadow .2s cubic-bezier(.4,0,1,1);
}

.filterButton:hover {
	box-shadow: 0 7px 26px -12px rgba(156,39,176,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 4px 10px -5px rgba(156,39,176,.2);
}

.button.helpButton:active {
  opacity: .8;
}

.button.helpButton:focus {
  color: white;
  box-shadow: none;
  border-color: #00aec7;
}

.introjs-helperNumberLayer {
  background: #00aec7 !important;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib p {
  display: inline;
}